.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 80px;

    background:var(--color-surface);

    box-shadow:var(--shadow-md);
}

.logo{
    display:flex;
    align-items:center;
    gap:8px;

    font-size:28px;
    font-weight:700;

    color:var(--color-primary);
}

.nav-links{
    display:flex;
    gap:35px;
}

.nav-links li{
    cursor:pointer;
    font-size:17px;
    transition:.3s;
}

.nav-links li:hover{
    color:var(--color-primary);
}

.nav-buttons button{

    padding:12px 28px;

    border:none;

    border-radius:10px;

    background:var(--color-primary);

    color:var(--color-text-inverse);

    font-size:16px;

    font-weight:600;
}

