:root{

  /* ===========================
      SPACING
  ============================ */

  --space-0:0;

  --space-xs:.25rem;

  --space-sm:.5rem;

  --space-md:1rem;

  --space-lg:1.5rem;

  --space-xl:2rem;

  --space-2xl:2.5rem;

  --space-3xl:3rem;

  --space-4xl:4rem;

  --space-5xl:5rem;

}