.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:80px;

    min-height:90vh;
}

.hero-left{
    width:50%;
}

.hero-left h1{

    font-size:60px;

    line-height:75px;

    margin-bottom:25px;
}

.hero-left span{
    color:var(--color-primary);
}

.hero-left p{

    font-size:20px;

    color:var(--color-text-muted);

    line-height:34px;

    margin-bottom:35px;
}

.hero-buttons{

    display:flex;

    gap:20px;
}

.primary-btn{

    padding:15px 35px;

    border:none;

    border-radius:12px;

    background:var(--color-primary);

    color:var(--color-text-inverse);

    font-size:18px;
}

.secondary-btn{

    padding:15px 35px;

    border-radius:12px;

    border:2px solid var(--color-primary);

    background:var(--color-surface);

    color:var(--color-primary);

    font-size:18px;
}

.hero-right{

    width:40%;

    display:flex;

    justify-content:center;
}

.food-card{

    background:var(--color-surface);

    padding:35px;

    border-radius:20px;

    box-shadow:var(--shadow-xl);

    font-size:22px;

    line-height:45px;
}
