@theme {

  /* ===========================
      FONT FAMILY
  ============================ */

  --font-sans:
    "Inter",
    "SF Pro Display",
    "Segoe UI",
    system-ui,
    sans-serif;

  /* ===========================
      FONT SIZE
  ============================ */

  --text-xs: .75rem;
  --text-sm: .875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;

  /* ===========================
      FONT WEIGHT
  ============================ */

  --font-weight-regular:400;
  --font-weight-medium:500;
  --font-weight-semibold:600;
  --font-weight-bold:700;
  --font-weight-extrabold:800;

  /* ===========================
      LINE HEIGHT
  ============================ */

  --leading-tight:1.2;
  --leading-normal:1.5;
  --leading-relaxed:1.7;

}
